appdirs==1.4.4
asgiref==3.2.7
autopep8==1.4.4
braintree==3.53.0
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
click==7.1.1
defusedxml==0.6.0
distlib==0.3.1
Django==2.1.7
django-allauth==0.39.1
django-appconf==1.0.4
django-classy-tags==1.0.0
django-cms==3.7.2
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-formtools==2.2
django-responsive==0.3.0
django-responsive2==0.1.3
django-sekizai==1.1.0
django-smtp-ssl==1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
filelock==3.0.12
Flask==1.1.2
Flask-Session==0.3.1
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
html5lib==1.0.1
idna==2.8
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
oauthlib==3.0.1
pep8==1.7.1
Pillow==6.2.0
pipenv==2020.8.13
psycopg2==2.8.5
pycodestyle==2.5.0
pycparser==2.20
pylokit==0.8.1
PyPDF2==1.26.0
python-decouple==3.1
python-engineio==3.12.1
python-socketio==4.5.1
python3-openid==3.1.0
pytz==2017.3
reportlab==3.5.42
requests==2.21.0
requests-oauthlib==1.2.0
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.2.4
stripe==2.27.0
templated-docs==0.3.1
urllib3==1.24.2
virtualenv==20.0.31
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==0.16.0
WTForms==2.3.1
xhtml2pdf==0.2.4
zipp==3.1.0
